* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #ABDFF1;
}

.navigation {
	list-style: none;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #0C4A60;
	font-size: 20px;
}

.navigation a:hover {
	background-color: #E1DDDB;
	color: #0C4A60;
}


.navigation a:link,
nav a:visited {
	text-decoration: none;
	transition: .5s;

}

.active {
	background-color: #E1DDDB;

	

}

header,
footer {
	background-color: #0C4A60;
	color: #E1DDDB;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;

}

header img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	margin: 0 0 0 17px;
	font-size: 1.5rem;
	color: #EF6C33;
}

.slogan {
	font-style: italic;
	color: #ABDFF1;
	margin-left: 30px;
	margin-bottom: 20px;
	font-size: 1rem;
	letter-spacing: 2px
}

h1,
h2,
h3 {
	font-family: 'Lato', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
}

h3 {
	font-size: 1rem;
}

body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	background-color: #E1DDDB;

}

#last {
	font-size: 16px;

}


main {
	max-width: 767px;
	margin: 0 auto;
	font-size: 1rem;

}



footer {
	text-align: center;
}


footer a {
	text-decoration: none;
	color: #F1FAEE;
}


.data{
display: flex;
flex-wrap: wrap;
padding: 5px;
max-width: 760px;

}



.contact ul li {
	list-style-type:none;
}

.map {
display: flex;
flex-direction:row
}