* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #ABDFF1;
}

.navigation {
	list-style: none;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #0C4A60;
	font-size: 20px;
}

.navigation a:hover {
	background-color: #E1DDDB;
	color: #0C4A60;
}


.navigation a:link,
nav a:visited {
	text-decoration: none;
	transition: .5s;

}

.active {
	background-color: #E1DDDB;

	

}

header,
footer {
	background-color: #0C4A60;
	color: #E1DDDB;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;

}

header img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	margin: 0 0 0 17px;
	font-size: 1.5rem;
	color: #EF6C33;
}

.slogan {
	font-style: italic;
	color: #ABDFF1;
	margin-left: 30px;
	margin-bottom: 20px;
	font-size: 1rem;
	letter-spacing: 2px
}

h1,
h2,
h3 {
	font-family: 'Lato', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #0C4A60;
}

h3 {
	font-size: 1rem;
}

body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	background-color: #E1DDDB;

}

#last {
	font-size: 16px;

}


main {
	max-width: 767px;
	margin: 0 auto;
	font-size: 1rem;

}



footer {
	text-align: center;
}


footer a {
	text-decoration: none;
	color: #F1FAEE;
}


.data{
display: grid;
background-color: #ABDFF1;
grid-template-columns: 1fr;


}

.contact {
	background-color: #ABDFF1;
	text-align: center;


}

.contact, .map{
	padding: 20px;
}

.contact li {
	list-style-type:none;
}
.media{
	padding-top: 20px;
}

.form-box label {
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;

}



.form-box input,
.form-box select,
.form-box textarea {
	flex-basis: 100%;
}

.form-box input {
	margin: 5px;

}

h2 {
	font-size: 1rem;
	padding-top: 5px;
}

.data section h2{
	color: black;

}
.data section h3{
	color: black;
	font-size: 0.8rem;

}

.data section{
	text-align: center;
	background-color:#EF6C33 ;
	padding-bottom: 5px;
	padding-top: 5px;
}

.centered{
	text-align: center;


}


figure {
	border: 1px #EF6C33 solid;
	padding: 4px;
	margin: auto;
	
  }
  .types{
	display: grid;
	grid-template-columns: 1fr;
  }
  figcaption {
	background-color:#ABDFF1;
	color: #0C4A60;
	padding: 2px;
	text-align: center;}

	figcaption span{
		font-size: smaller;
	}

	.reserve {
		text-align: center;
		display: block;
		text-decoration: none;
		background-color: #EF6C33;
		color: black;
		padding: 6px;
		border: 1px solid black;
		
	  }
	  .contentbox .forecast {
		padding: 10px;
	}

	  .grid {
		margin-top: 10px;
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
		border-right: 1px solid #0C4A60;
	}
	
	.grid-col {
		background-color: #ABDFF1;
		border-bottom: 1px solid #0C4A60;
		border-left: 1px solid #0C4A60;
		text-align: center;
	
	}
	
	.information {
		display: block;
		padding: 0 5px 5px;
		font-size: 1rem;
		text-align: center;
	}
	
	.col-head {
	
		display: block;
		padding: 5px;
		border-top: 1px solid #0C4A60;
		border-bottom: 1px solid #0C4A60;
		text-align: center;
		font-weight: 700;
		font-size: 1rem;
		background-color: #ABDFF1;
		color: #0C4A60;
	}

	section .weather {
		
		top: 25px;
		left: 50px;
		padding: 1.5rem;
		opacity: 0.8;
	
	}

	.herodiv {
		margin: 10px auto;
		position: relative;
	}
	
	.photo {
		display: block;
		width: 98%;
		margin: 0 2%;
	}
	
	#heroimg {
		width: 100%;
		padding: 0;
	}
	
	.weather {
		position: absolute;
		top: 25px;
		left: 50px;
		background-color: #E1DDDB;
		padding: 1.5rem;
		opacity: 0.8;
	
	}
	
	.weather span {
		font-weight: bold;
		color: #0C4A60;
	}
	.form-box{
		
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

textarea, input{
	padding-left: 10px;
}

