@media only screen and (min-width: 60em) {
	body {
		margin: auto;
		min-width: 60em;
		
	  }
	
    header, footer {
		margin: 0;
	  }
	  .contentbox{
		  background-color: #ccc;

	  }
	  .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	nav button{
		display: none;
	}

}

