@media screen and (min-width: 600px) {



	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.headings h1 {
		margin: 0 0 0 17px;
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1rem;
		color: #36588C;
		padding-top: 5px;
	}

	.slogan {

		font-size: .8rem;
	}


	.navigation li:first-child {
		display: none;
	}

	.article,
	.contactinfo {
		flex-flow: nowrap;
		margin: 10px;

	}

	.form-box {

		display: block;

	}

	.form-box label {
		flex-basis: 9rem;
		flex-grow: 0;
		flex-shrink: 0;
		

	}


	.form-box input,
	.form-box select,
	.form-box textarea {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.form-box button {
		margin-left: 9rem;
	}

	.form-box label {
		flex-direction: row;
	}
	.form-box input{
		margin: 5px;

	}
	

	select,
	span,
	option,
	input,
	label,
	button,
	legend,
	.form-box:nth-child(6) {

		font-size: 18px;

	}

	
	form label .radio {
	
		display: block;
		padding: .75rem 0;
	}


	article {
		flex-direction: row;
	}

	article:nth-child(odd) {
	  flex-direction: row-reverse;
  }

  .textcol {
	 width: 50%;
	 padding: 25px 0;
  }
  .homepic {
	  margin-top: 8px;
	  width: 50%;

  }
  .news p {
	  width: 50%;
  }
  .news {
	  display: flex;
	  flex-direction: row;
  }
  .news img {
	  width: 50%;
  
  }
  
  
  .artic figure img {
	  display: block;
	  padding: 1rem;
	  float: right;
	  width: 50%;
	  }
}