@media screen and (min-width: 600px) {



	.navigation {
		display: flex;
	}

	.navigation li {
		display: block;
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.headings h1 {
		margin: 0 0 0 17px;
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1rem;
		color: #36588C;
		padding-top: 5px;
	}

	.slogan {

		font-size: .8rem;
	}


	.navigation li:first-child {
		display: none;
	}

	.article,
	.contactinfo {
		flex-flow: nowrap;
		margin: 10px;

	}

	.form-box {
		flex-direction: row;
	}

	.form-box label {
		flex-basis: 9rem;
		flex-grow: 0;
		flex-shrink: 0;

	}


	.form-box input,
	.form-box select,
	.form-box textarea {
		flex-basis:0;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.form-box button {
		margin-left: 9rem;
	}

	.form-box label {
		display: block;
	}
	
	
}