* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1em;
}



nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #bbb;
}

.navigation {
	list-style: none;
	padding: 0;
}



.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: #36588C;
	font-size: 1rem;
}

.navigation a:hover {
	background-color: #F1FAEE;
	;
	color: #36454f;
}

.active {
	text-decoration: underline;
	background-color: #F1FAEE;


}

.navigation a:link,
nav a:visited {
	color: #36454f;
	text-decoration: none;
	transition: .5s;

}

header,
footer {
	background-color: #3B6AA0;
	color: #F1FAEE;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;


}



header img {
	width: 100px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	margin: 0 0 0 17px;
	font-size: 1.5rem;
}

.slogan {
	font-style: italic;
	color: #F1FAEE;
	margin-left: 20px;
	font-size: .7rem;
}

h1,
h2,
h3 {
	font-family: 'Roboto', sans-serif;
}


body,
h4 {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	background-color: #F1FAEE;

}

h4 {
	padding-top: 15px;

}

main {
	max-width: 767px;
	width: 90%;
	margin: 1rem auto;
	

}

select,
span,
option,
input,
label,
button {
	padding: 0.2rem 1rem;
	font-size: 16px;
	color: inherit;
}




legend,
 {
	padding: 0.2rem 1rem;
	font-size: 16px;
	color: inherit;

}

.form-box:nth-child(6){
	font-size: 16px;
	color: inherit;

}
.form-box label,  {
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;

}

.form-box input,
.form-box select,
.form-box textarea {
	flex-basis: 100%;
}



fieldset {
	background-color: #eee;
	border: 1px solid #ccc;
}

.flexly {
	display: flex;
	align-items: center;
}

footer {
	text-align: center;
}