nav {
	background-color: white;
	text-align: center;
	display: block;
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #36588C;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.5rem;
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}



header, footer {
    background-color: #36588C;
    color: white;
    text-align: center;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;


}
footer a {
    color: white
}
header, main, footer{
    margin-left: auto;
    margin-right: auto;
}
body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;

}

main {
	max-width: 767px;
	margin: 0 auto;
	font-size: 1rem;
	
}

main section h2 {
	color: #536878;
}


main section {
	margin: 0.5rem;
	padding: 1rem;
	background-color: #eee;
	
}

main section a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: black;
    padding: 1rem;
}


main section picture {
    padding-top: 1rem;
}



